*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img2{
    width: 1349px;
    transition: all;
}
.navbar{
position: absolute;
text-align: left;

background: transparent;
background-color: rgb(0, 0, 0, 25%);
width: 100%;
display: flex;
}
.travel{
    width: 160px;
    height: 38px;
}
.navbar a{
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    padding: 25px;
    display: inline-block;
    font-family: Poppins;
}
.book{
    background-color: #BA71DA;
    width: 123px;
    height: 36px;
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;
margin-top: 15px;


}
.nav1{
    display: flex;
padding-left: 150px;
padding-top: 15px;
}
.menu{
    width: 25px;
    height: 25px;
cursor: pointer;
}
.page1 p{
position: absolute;
transform: translate(-50%, -50%);

color: #ffffff;
}
.text1{
    top: 25%;
left: 50%;
font-size: 50px;
line-height: 50px;
font-weight: bold;

}
.text2{
    top: 35%;
left: 50%;
padding:px;
text-align:center;
font-size:20px;
line-height:20px;
letter-spacing: 4px;
font-weight:normal;
}
.page1{
    position: relative;
    width: 1349px;
    height: auto;
    transition: all;
}
#sec{
    position: absolute;
    background-color: #f9f9f9;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    color: #a3a3a3;
    top: 50%;
    left: 38%;
    width: 340px;
    height: 39px;
}
.icons{
    position: absolute;
    display: flex;
    top: 70%;
    left: 32%;
}
.icon1 img{
width: 60px;
height: 60px;
display: flex;
justify-content: space-between;
margin-left: 50px;
background-color: rgb(0, 0, 0, 0.4);
}
.main1 h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 14px;
 font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #a3a3a3;
}
.main1 h2{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 14px;
 font-weight: 700;
 line-height: 36px;
 font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #555555;
}
.main1{
    top: 50%;
    width: 100%;
    height: 950px;

}
.main1 img{
    width: 370px;
height: 370px; 
border-color: #ffffff;
padding-top: 3%;
filter: brightness(90%);

}
.image-container {
    position: relative; 
    display: inline-block;
    cursor: pointer;
}

.image-text {
    position: absolute;
    bottom: 50px; 
    left: 30px; 
    padding: 5px; 
    font-size: 16px; 
    line-height: 27px;
    font-size: 30px;
    color: #ffffff; 
    font-weight: 400;
}

.tablolar{
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
align-content: space-around;
}
.foto1{
    position: relative;
    width: 1349px;
    height: 235px;
    overflow: hidden;

}

.foto1 p{
    position: absolute;
    font-size: 45px;
    top: 100px;
    left: 200px;
    font-weight: 900;
    color: white;
  
    
}
.foto1 h1{
    position: absolute;
    font-size: 50px;
    top: 135px;
    left: 205px;
    color: white;
}
.view p{
    position: absolute;
 padding: 20px;
 padding-left: 60px;
 padding-right: 60px;
 border-radius: 30px;
 font-weight: 400;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    top: 110px;
    left: 800px;
    display: flex;
    align-items: center;
    background-color: white;
    color: red;
    cursor: pointer;
}
.north{
    position: relative;
    width: 400px;
    height: 456px;
}
.north p{
position: absolute;
font-weight: 400;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 top: 80px;
 left: 90px;
 color: #555555;
}
.north h1{
    position: absolute;
font-weight: 700;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 top: 110px;
 left: 90px;
 color: #555555;
 line-height: 36px;
 font-size: 36px;
}
.north h2{
    position: absolute;
    font-weight: 400;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     top: 150px;
     left: 90px;
     word-spacing: 10px;
     color: #9a9a9a;
     line-height: 27px;
font-size: 18px;
}
.img3 img{
    position: absolute;
    width: 750px;
    height: 410px;
    top: 70px;
    right: 80px;
}
.div1{
    display: flex;
position: relative;
height: 750px;
}
.saat{
    position: absolute;
    width: 490px;
    height: 110px;
    background-color: #14B9D5;
    right: 215px;
    bottom: 70px;
}
.saat p{
    display: flex;
    font-size: 40px;
    color: #ffffff;
    justify-content: center;
    

}
.div1{
height: 600px;
}
.iconlar{
display: flex;
}
.icons1{
left: 90px;
position: relative;
width: 400px;
height: 200px;

}
.icons1 img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
}
.icons1 h1{
    left: 100px;
    position: absolute;
    color: #555555;
}
.icons1 h2{
    left: 100px;
    top: 50px;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    color: #9A9A9A;
}

.icons2{
left: 90px;
position: relative;
width: 400px;
height: 200px;
}

.icons2 img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
}
.icons2 h1{
    left: 100px;
    position: absolute;
    color: #555555;
}
.icons2 h2{
    left: 100px;
    top: 50px;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    color: #9A9A9A;
}
.icons3{
left: 90px;
position: relative;
width: 400px;
height: 200px;
}

.icons3 img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
}
.icons3 h1{
    left: 100px;
    position: absolute;
    color: #555555;
}
.icons3 h2{
    left: 100px;
    top: 50px;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    color: #9A9A9A;
}
.discover{
   
    width: 675px;
    height: 235px;
    overflow: hidden;
}
.discover img{
    width: 100%;
    height: auto;
}
.discover p{
  position: absolute;
  top: 30px;
  left: 60px;
  background-color: black;

}
.discover1{
    width: 675px;
    height: 235px;
    overflow: hidden;
}
.discover1 img{
    width: 100%;
    height: auto;
}
.discovers{
    display: flex; 
}
.main2 h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 14px;
 font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #a3a3a3;
}
.main2 h2{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 14px;
 font-weight: 700;
 line-height: 36px;
 font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #555555;
}

.table1{
    width: 360px;
    height: 300px;
    position: relative;
}
.table1 img{
    width: 360px;
    height: 230px;
}
.table1 h1{
    position: absolute;
    padding: 20px;
    color: #555555;

}
.table1 h2{
    position: absolute;
    padding: 25px;
padding-top: 60px;
    color: #9A9A9A;
    font-size: 20px;
}
.logo1 img{
width: 15px;
height: 15px;


}
.cultural h1{
    display: flex;
padding-top: 70px;
padding-left: 20px;
    font-size: 15px;
    color: #555555;

}
.cultural h2{
  display: flex;
  padding-left: 250px;
      font-size: 40px;
      font-weight: 700;
      color: #333333;
}
.cultural{
    display: flex;
}
.aciklama h1{
font-size: 20px;
padding-top: 200px;

}
.table1{
    width: 370px;
    height: 600px;

}
.details{
    display: flex;
padding: 30px;
    width: 300px;
    height: 100px;

}
.details button{
    font-size: 14px;
    background-color: yellow;
    border-radius: 30px;
    border-color: transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.alltables{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
footer{
        position: relative;
}
footer img{
    width: 1349px;
height: 630px;
}
.firsttext{
      position: absolute;
    top: 10%;
 left: 20%;

}
footer h1{
    top: 10%;
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;

}
footer h2{
 padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    font-family: Poppins, sans-serif;
    color: #555555;
}

.input{
    position: absolute;
    top: 15%;
    left: 60%;
    background-color: #f9f9f9;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    color: #a3a3a3;
}
.send{
    position: absolute;
    top: 15%;
    left: 78%;
    background-color: #14b9d5;
    border-width: 0px;
    border-color: #fff;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.finish{
    position: absolute;
    top: 35%;
 left: 5.5%;
    width: 1200px;
    height: 340px;
    background-color: #14B9D5;
}
.finish2{
    width: 1200px;
    height: 290px;
    background-color: #fff;
    display: flex;
}
.finish3{
    width: 520px;
    height: 290px;
}
.finish3 img{
   margin: 20px;
width: 150px;
height: 30px;

}
.finish3 h1{
    font-size: 14px;
    font-family: Poppins, sans-serif;
    color: #9a9a9a;
    line-height: 27px;
    padding: 20px;
    font-weight: 400;
}
.iconlar1 img{
    width: 22px;
    height: 22px;
}
.finish4 h1{
padding: 50px;
padding-left: 30px;
}